/vendor
/node_modules

/public/landing/images/
/public/images/
/public/videos/
/public/uploads/

/public/build
/public/hot

.env
.env.backup
.env.production

*.zip
*.sql

.phpunit.result.cache

.idea
.vscode

.DS_Store
Thumbs.db