/.env
/vendor
/node_modules
/public/hot
/public/build
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*.php
.phpunit.result.cache
npm-debug.log
yarn-error.log
