/vendor/
/node_modules/

# Laravel
.env
.env.backup
.env.production

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Cache
.phpunit.result.cache

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
/public/build
/public/hot

# ZIP / SQL
*.zip
*.sql


# ==========================
# Jangan ignore asset website
# ==========================

# Hapus baris ini:
# /public/images/
# /public/landing/images/
# /public/uploads/
# /public/videos/


# Kalau uploads user ingin ignore:
# /public/uploads/*
# !/public/uploads/.gitkeep